.app-container {
  @apply h-screen
    flex
    justify-center
    items-center
    dark:bg-zinc-900;
}

.button {
  @apply text-4xl
    bg-violet-500
    py-4
    px-8
    rounded-lg
    text-white
    hover:bg-violet-700
    transition-colors
    w-full
    mx-8
    sm:w-auto;
}
